{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block title %}博客详情 -- {{ blog.name }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="blog-content col-xs-9">
                <div class="blog col-xs-12" data-id="{{ blog.id }}">
                    <p class="blog-name">{{ blog.name }}</p>
                        <p class="blog-info">
                            <i class="fa fa-bookmark" aria-hidden="true"></i>
                            {% for t in blog.tags.all %}
                                <span href="javascript:void(0);" class="btn btn-info btn-xs">{{ t.name }}</span>
                            {% endfor %}
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            {{ blog.create_time|date:"Y年m月d日 D" }}</p>
                    <div class="blog-content">
                        {{ blog.content|safe }}
                    </div>
                </div>
            </div>
            <div class="blog-nav col-xs-3"></div>
        </div>
    </div>
{% endblock %}