{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block title %}博客{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="blogs col-xs-9">
                {% include 'blog/list_piece.html' %}
            </div>
            <div class="blog-nav col-xs-3">

{#                <div class="blog-me">#}
{#                    <p class="title">#}
{#                        <i class="fa fa-smile-o" aria-hidden="true"></i>个人信息#}
{#                    </p>#}
{#                    <p>I'am rory</p>#}
{#                    <p>python develop</p>#}
{#                </div>#}

                <div class="blog-category">
                    <p class="title">
                        <i class="fa fa-cubes" aria-hidden="true"></i>博客分类
                    </p>
                    {% for c in cates %}
                        <p><a href="{% url 'blog_list' %}?cid={{ c.id }}">{{ c.name }}({{ c.num_cates }})</a></p>
                    {% endfor %}
                </div>

                <div class="blog-link">
                    <p class="title">
                        <i class="fa fa-link" aria-hidden="true"></i>博客推荐
                    </p>
                    {% for l in links %}
                        <p><a href="{{ l.site }}" target="_blank">{{ l.name }}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="blog-page">
            {% if num_pages > 1 and current_page <= num_pages %}
            <ul class="pagination">
                <li {% if current_page == 1 %} class="disabled" {% endif %}><a href="{% if current_page == 1 %} javascript:void(0) {% else %} {% url 'blog_list' %}?page={{ current_page|add:"-1" }}&cid={{ cid }}{% endif %}">&laquo;</a></li>
                {% for i in '*'|rjust:num_pages %}
                    {% if num_pages <= 5 %}
                        <li {% if current_page == forloop.counter %} class="active" {% endif %}><span><a href="{% url 'blog_list' %}?page={{ forloop.counter }}&cid={{ cid }}" >{{ forloop.counter }}</a></span></li>
                    {% else %}
                        {% if current_page <= 3 and forloop.counter <= 5 %}
                            <li {% if current_page == forloop.counter %} class="active" {% endif %}><span><a href="{% url 'blog_list' %}?page={{ forloop.counter }}&cid={{ cid }}" >{{ forloop.counter }}</a></span></li>
                        {% elif forloop.counter >= current_page|add:"-2" and forloop.counter <= current_page|add:2 %}
                            <li {% if current_page == forloop.counter %} class="active" {% endif %}><span><a href="{% url 'blog_list' %}?page={{ forloop.counter }}&cid={{ cid }}" >{{ forloop.counter }}</a></span></li>
                        {% elif current_page >= num_pages|add:"-2" and forloop.counter > num_pages|add:"-5" %}
                            <li {% if current_page == forloop.counter %} class="active" {% endif %}><span><a href="{% url 'blog_list' %}?page={{ forloop.counter }}&cid={{ cid }}" >{{ forloop.counter }}</a></span></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <li {% if current_page == num_pages %} class="disabled" {% endif %}><a href="{% if current_page == num_pages %} javascript:void(0) {% else %} {% url 'blog_list' %}?page={{ current_page|add:1 }}&cid={{ cid }}{% endif %}">&raquo;</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
