div.blog{
    color: #337ab7;
}
div.blogs{
    padding-top: 20px;
}
p.blog-name{
    margin: 10px auto;
    font-size: x-large;
}
p.blog-info{
    margin-top: 5px;
    margin-bottom: 20px;
}
.blog{
    margin: 15px auto;
}
a.blog{
    display: block;
    text-decoration: none;
}
div.blog-page{
    margin-bottom: 50px;
}
@media only screen and (max-width: 600px){
    .blog-nav{
        display: none;
    }
    .blog-content {
        width: 100%;
    }
}

.blog-nav{
    margin-top: 45px;
}
.blog-category a {
    text-decoration: none;
    font-size: large;
}
.blog-category p {
    color: #337ab7;
}