div.blog{
    color: #337ab7;
}
div.blogs{
    padding-top: 20px;
}
p.blog-name{
    margin: 10px auto;
    font-size: x-large;
}
p.blog-info{
    margin-top: 5px;
    margin-bottom: 20px;
}
.blog{
    margin: 15px auto;
}
a.blog{
    display: block;
    text-decoration: none;
}
div.blog-page{
    margin-bottom: 50px;
}
@media only screen and (max-width: 600px){
    .blog-nav{
        display: none;
    }
    .blog-content {
        width: 100%;
    }
}

.blog-nav {
    margin-top: 45px;
}
.blog-me p {
    color: #337ab7;
}

/*.blog-category {*/
    /*margin: 30px auto;*/
/*}*/
.blog-category a {
    text-decoration: none;
}
.blog-category p {
    color: #337ab7;
}

.blog-link {
    margin: 30px auto;
}
.blog-link a {
    text-decoration: none;
}
.blog-link p {
    color: #337ab7;
}
p.title {
    font-size: x-large;
}

ul.pagination li a {
    text-decoration: none;
}

ul.pagination li.active a {
    color: #ffffff;
}